input[type=text],
input[type=email],
input[type=password] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #3eaf7c;
    outline: none;
    font-size: 16px;
    color: rgb(65, 65, 65);
}